[Unit]
Description=Treadmill critical (network-independent) early slot
DefaultDependencies=no
After=local-fs.target sysinit.target
Requires=sysinit.target
